/* Общие стили для всего документа */
body {
  font-family: "Open Sans";
  margin: 0;
}

header {
}

.top-header {
  display: flex;
  border: solid;
  align-items: center;
  border-width: 1px;
  border-color: #dddbdc;
  justify-content: space-around;
}

.left-nav {
}

.left-nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.left-nav ul li {
  text-align: center;
  font-size: 12px;
  margin: 5px;
}

.logo {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.right-nav {
}

.right-nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.right-nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.bottom-header {
  border: 10px;
  border-color: #dddbdc;
  margin: 10px;
}

.bottom-header ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.banner {
  width: 1400px;
  height: 758px;
  background-image: url(../img/section1.png);
}

.banner div {
  width: 632px;
  height: 208px;
  padding-top: 275px;
  margin-left: 32px;
}

.banner div h1 {
  color: white;
}

.banner div p {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.banner div a {
  background-color: white;
  padding: 15px;
}

.categories div{
  display: flex;
}

.categories h2{
  text-align: center;
}

.nbt-banner {
  display: flex;
}

.nbt-banner article {
  width: 430px;
  height: 534px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.new-arrivals {
  background-image: url(../img/newarrivals.png);
}

.best-sellers {
  background-image: url(../img/bestsellers.png);
}

.holiday-outfit {
  background-image: url(../img/holidayoutfit.png);
}

.nbt-banner article a {
  background-color: white;
  padding: 15px;
}

.clean-up{
  margin-top: 90px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clean-up div {
  width: 1316px;
  height: 281px;
  background-image: url(../img/cleanup.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clean-up div a {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
}
